#fileArea{
    margin-top: 0.2em;
    margin-right: 00.2em;
    
}

#fileLabel:hover {
    cursor: pointer;
    background-color: #555555;
}

#fileLabel {
    margin-bottom: 0.3em;
    border-bottom:thin solid#a0d840;
}

.fileListItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.fileImageContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
   
}

.fileImageContainer > * {
    padding-right: 5px;
}