#upperArea {
    display: flex;
    flex-direction: row;
    height: 50%;
}

#lowerArea {
    display: flex;
    flex-direction: column;
    height: 50%;
}

#fileArea, #filterArea {
    width: 25%;
    overflow-y: auto;
    overflow-x: hidden;
}

#videoArea {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#videoControls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3px;
}

#canvasContainer {
    flex-grow: 1;
    min-height: 0;
    min-width: 0;
}

#fileInputContainer #filterInputContainer {
    background: #dcdcdc;
    padding-left: 2%;
    padding-right: auto;
    font-size: 16px;
}

.fileListImage {
    width: 50px;
    height: auto;
}

.fileNameText {
    display: flex;
}

ul#filterList li {
    padding-top: 20px;
    padding-bottom: 20px;
}

ul {
    margin: 0;
    padding: 0;
}

ul#filterList#fileList li {
    background: #eee;
    font-size: 18px;
    padding: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

/*ul {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    height: 100%;*/
/*}*/

/*li {*/
/*    display: inline;*/
/*    height: 100%;*/
/*}*/

/*ul li {*/
/*    cursor: pointer;*/
/*    position: relative;*/
/*    padding: 12px 8px 12px 40px;*/
/*    background: #eeeeee;*/
/*    font-size: 14px;*/
/*    transition: 0.2s;*/
/*}*/

/*ul li:hover {*/
/*    background: #ddd;*/
/*}*/

.pointer {
    cursor: pointer;    
}
