body {
    width: 100%;
    height: 100%;
}

.mainArea {
    display: flex;
    flex-direction: row;
    height: 50%;
}

.track, .trackList {
    display: block;
    width: 920px;
    height: 230px;
    background-image: url(/images/pngkit_movie-tape-png_3163594.png);
    margin-top: 1em;
}

#fileArea {
    width: 25%;
}

#fileInputContainer {
    /*border: 1px solid #747474;*/
    background: #dcdcdc;
    /*vertical-align: middle;*/
    padding-left: 2%;
    padding-right: auto;
    font-size: 16px;
}

.fileListImage {
    width: 50px;
    height: auto;
    /*float: left;*/
}

.fileNameText {
    display: flex;
    /*height: 30px;*/
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    /*position: relative;*/
    background: #eee;
    font-size: 18px;
    padding: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

#videoArea {
    display: flex;
    flex-direction: column;
    width: 75%;
}

#canvasContainer {
    flex-grow: 1;
    min-height: 0;
    min-width: 0;
}

img {
    width: 100%;
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
    height: 100%;
}

li {
    display: inline;
    height: 100%;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eeeeee;
    font-size: 14px;
    transition: 0.2s;
}

ul li:hover {
    background: #ddd;
}

#addBtn {
    margin: 4px;
}

.track .grid-container {
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
}

.track:after {
    content: "";
    display: table;
    clear: both;
}

#heading {
    grid-area: header;
    width: 230px;
}

#videoRow {
    grid-area: vmenu;
    width: 230px;
}

#audioRow {
    grid-area: amenu;
    width: 230px;
}

#effectRow {
    grid-area: emenu;
    width: 230px;
}

#delete {
    grid-area: delete;
    width: 230px;
}

#editGrid {
    display: grid;
    grid-template-areas: "header header"
                         "vmenu delete"
                         "amenu delete"
                         "emenu delete";
    padding-right: 0em;
    padding-left: 0em;
}

.track .item1, .track .item2, .track .item3 {
    height: 230px;
    padding-left: 2px;
    padding-right: 2px;
}

.column {
    float: left;
    width: 30%;
    padding: 2px;
    background-color: white;
}
