body {
    width: 100%;
    height: 100%;
}

.mainArea {
    display: flex;
    flex-direction: row;
    height: 50%;
}

.track {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 230px;
    background-image: url(/images/pngkit_movie-tape-png_3163594.png);
    margin-top: 1em;
}


#fileArea #filterArea {
    width: 25%;
}

#fileInputContainer #filterInputContainer {
    /*border: 1px solid #747474;*/
    background: #dcdcdc;
    /*vertical-align: middle;*/
    padding-left: 2%;
    padding-right: auto;
    font-size: 16px;
}


.fileListImage {
    width: 50px;
    height: auto;
    /*float: left;*/
}

.fileNameText {
    display: flex;
    /*height: 30px;*/
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    /*position: relative;*/
    background: #eee;
    font-size: 18px;
    padding: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

#videoArea {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#videoControls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3px;
}

#canvasContainer {
    flex-grow: 1;
    min-height: 0;
    min-width: 0;
}

ul {
    margin: 0;
    padding: 0;
    height: 100%;
}

li {
    display: inline;
    height: 100%;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eeeeee;
    font-size: 14px;
    transition: 0.2s;
}

ul li:hover {
    background: #ddd;
}

/*start change up a lil*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.1);
}


.modal-content {
    background-color: #aeaeae;
    margin: 15% auto;
    margin-left: 55%;
    padding: 20px;
    border: 1px solid #8e8e8e;
    width: 40%;
}

/* The Close Button */
.close {
    color: #6b6b6b;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*end change up a lil*/

#addBtn {
    margin: 4px;
}

.track .grid-container {
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
}

.track:after {
    content: "";
    display: table;
    clear: both;
}

#heading {
    grid-area: header;
    width: 100%;
}

#videoRow {
    grid-area: vmenu;
    width: 100%;
}

#audioRow {
    grid-area: amenu;
    width: 100%;
}

#effectRow {
    grid-area: emenu;
    width: 100%;
}

#delete {
    grid-area: delete;
    width: 100%;
}

#editGrid {
    display: grid;
    grid-template-areas: "header header header header"
                         "vmenu vmenu  vmenu delete"
                         "amenu amenu amenu delete"
                         "emenu emenu emenu delete";
    padding-right: 0em;
    padding-left: 0em;
    width: 100%;
}


.column {
    float: left;
    width: 99%;
    padding: 2px;
    background-color: white;
}

.pointer {
    cursor: pointer;    
}
