.trackContainer {

    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;

   /* grid-column: 1 / 4; */
} 

.trackHeader {
    display: flex;
    align-items: center;
}

.trackHeader * {
    margin-right: 10px;
}

.track {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*background-image: url(/images/pngkit_movie-tape-png_3163594.png);*/
    background-image: url(/images/movietape_loopv2.png);
    background-size: contain;
    height: 100%;
}

.column {
    background:#555555;
}

#videoContainer {
    padding-top: 0%;
    margin-top: 0%;
    border-top: 0%;
    
}
#effecttrack .column {
    display: flex;
    flex-direction: row;
    position: sticky;
    min-width: 10%;
    max-width: 100%;
}


.resize {
    width: 5px;
    background-color: #eb5237;
    cursor: ew-resize;
}

.resize-left {
    margin-right: 5px;
}

.resize-right {
    margin-left: 5px;
}

.close {
    align-self: center;
}

#trackArea {
    float:left;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 5px;
    background: #eaeaea; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 5px; /* Slider handle height */
    background: #a0d840; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #a0d840; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  .highlight {
      border: thick double #eaeaea;
  }
